.reviews-section form {
    display:flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.reviews-section form input,textarea{
    width:60%;
    margin-bottom: .8rem;
   
}
.submit-reviews{
    border-radius: 5px;
      background-color: rgb(28, 28, 221);
      padding:5px 10px;
      color:#fff;
      border:none;
}