
.slide-section{
    background: rgb(36, 32, 32);
}
.banner-img{
    height:550px;
    
}
.slide-section img{
    opacity:0.8;
}

.banner-description{
    color:rgba(255, 255, 253, 0.9);
   
    
}
.banner-cycle{
    color: rgba(12, 10, 117, 0.8);
    font-size: 1.5rem;
    font-weight: bold;
}
.slide-section h5{
    font-size: 3rem;
    font-weight: bold;
}
.slide-section p{
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .slide-section h5{
        font-size: 2rem;
        font-weight: bold;
    }
  }